html,
body,
h1,
.col1,
.col2 {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gill Sans", Trebuchet, Calibri, sans-serif;
  color: #fff;
  background: url("../img/bgbody.jpg") no-repeat center;
  background-size: cover;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("../img/bgheader180.jpg") no-repeat center top;
}

.logo {
  margin-left: .5%;
  padding-top: 2px;
}

.wrapp_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.rtext {
  margin-left: 62.5%;
  margin-top: 3.5%;
  font-size: 1.1em;
  font-family: Arial;
}

.adapt_menu_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 0.5%;
  margin-bottom: 1.2%;
  font-size: 1.2em;
}

.adapt_menu {
  padding: 5px 25px 5px 25px;
  border: 2px solid #CD9467;
  background-color: #3A3426;
}

a {
  text-decoration: none;
}

a:link {
  color: #fff;
}

a:visited {
  color: #CD9467;
}

a:hover {
  color: #ef7d55;
}

a:active {
  color: #154088;
}

h1 {
  font-size: 1.5em;
  color: #fff;
  text-align: center;
}

.content1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img1,
.img2 {
  width: 26%;
  height: auto;
  min-width: 150px;
  border: 3px solid #a37353;
  border-radius: 4%;
  -webkit-box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.75);
}

.img1 {
  margin: 1% 8.9% 1% 1%;
}

.img2 {
  margin: .5% 1% 2.2% 8.9%;
}

.content2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col1 {
  margin: 1% 1% 1% 6.0%;
}

.col2 {
  margin: 1% 6% 1% 1%;
}

.col1,
.col2 {
  width: 46%;
  font-size: 1.3em;
  font-weight: 600;
  color: #000;
  background-color: rgba(200, 146, 108, 0.5);
  padding: 20px;
  border: 3px solid #a37353;
  border-radius: 4%;
  -webkit-box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.75);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px;
  background: url("../img/bgfooter100.png") no-repeat center;
  background-size: cover;
}

.rfooter {
  font-size: 2.4em;
  text-align: center;
  margin-right: 30px;
}

.cfooter {
  font-size: 2.4em;
  text-align: center;
}

.lfooter {
  font-size: 1.1em;
  text-align: center;
  margin-left: 30px;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */